<form>
    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" class="form-control" ng-model="vm.product.name" id="name">
    </div>
    <div class="form-group">
        <label for="price">Price: </label>
        <input type="text" class="form-control" ng-model="vm.product.price" id="price">
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="button" ng-click="vm.saveProduct()">Save</button>
        <a class="btn btn-default" href="/products">Cancel</a>
    </div>
</form>